@charset "UTF-8";
/* CSS Document */
body,html{
	font-family: Arial, "sans serif";
	text-align: center;
	margin:1px;
}
audio{
	width:100%;
	margin-top:-5px;
	border-radius: 0px;
	background-color:black;
}
a{
	text-decoration: none;
}
#wrapper{
	width:100%;
	max-width: 1200px;
	margin:auto;
	text-align: left;
}
#cuiHeader{
	text-align: left;
}
#cuiHeader img{
	width:100%;
	max-width: 700px;
}
#title{
	font-family: Helvetica;
	font-size: 300%;
	font-weight: 100;
	background-color: black;
	color:white;
	padding-top: 50px;
	padding-bottom: 50px;
}
#thumbs{
	margin-top:7px;
	text-align: center;
	margin:0;
}
.thumbIMG{
	width:75px;
	height:75px;
}
#intro{
	width:60%;
	padding:2%;
	margin: auto;
	margin-top:7px;
	border:1px solid black;
}
#intro p{
	margin-top:0;
	text-align:left;
}
.characterBox{
	width:100%;
	margin:auto;
	margin-top:50px;
	overflow: hidden;
}
.left{
	float:left;
	text-align: right;
}
.right{
	float: right;
}
.media{
	width:45%;
}
.bigIMG{
	width:100%;
}
.description{
	width:40%;
	margin-top:7px;
}
.description p{
	vertical-align: middle;
}
.name{
	font-weight: 900;
	font-size: 150%;
}
.meta{
	font-size: 120%;
}
.plea{
	font-weight:600;
	font-size: 95%;
}

@media screen and (max-width:899px){
	.characterBox{
		width:90%;
	}
	#intro{
		width:95%;
	}
	.media{
		width:100%;
	}
	.left{
		text-align: left;
	}
	.description{
		width:100%;
	}
}


